<html>
  <head>
    <title>Nashe Playlist</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="nashePlaylist" ng-controller="MainController as ctrl">
    <table>
      <tr>
        <th>Index</th>
        <th>Track name</th>
        <th>Times played</th>
      </tr>
      <tr ng-repeat="song in ctrl.allSongs track by $index">
        <td>{{$index}}</td>
        <td>{{song.title}}</td>
        <td>{{song.timesPlayed}}</td>
      </tr>
    </table>
  </body>
</html>
