<html>
  <head>
    <title>Nashe Playlist</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="nashePlaylist" ng-controller="MainController">
    <div>
      {{test}}
    </div>
  </body>
</html>
